@font-face {
    font-family: myFont;
    src: url(AGENCYB.TTF);
}
@font-face {
    font-family: myFont2;
    src: url(Space.otf);
}

body {
  min-height: 2000px;
  padding-top: 70px; 
  background-color: #a9d5cb;
}



#log{
	font-family: myFont2;
	font-size:120%;
	color:#73c2ac;
}
#buscador{
	margin-top: 6px;
	margin-right: 15%;
	margin-left: 20%;
	margin-bottom: 6px;
	font-family: myFont;
	font-size:200%;
}

#navbar{
	background-color: #0e2020;
}
#elementosNavBar{
	position: relative;
	margin-left: 20%;
	margin-right: 10%;
	font-family: myFont;
	font-size:150%;	
}
#elem{
	color:#73c2ac;
}
.nav > li > a:active, .nav > li > a:focus {
	background-color: #286858 !important;
	color:#73c2ac !important;
}

#der{
	margin-top: 30px;
	/*background-color: #286858; */
	background-color: #a9d5cb;
	
}

#centro {
	margin-top: 20px;
}

.derecha {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 10px;
}

/*Flexbox lado derecho */
.login, .tusJuegos, .comentarios {
	font-family: myFont;
	background-color: #286858;
	margin: 10px;
	padding: 15px;	
	border-radius: 10px;
	border-bottom-style: solid;
    border-bottom-color: #185344;
}

/* Titulo seccion dentro de los flexbox */
h3.tituloSeccion {	
	font-size: 30px;
	text-align: left;
	color: #73c2ac;
	text-shadow:3px 2px 2px #014a33;
	margin-top: 0px;
	padding-bottom: 5px;
	border-bottom: 1px solid #73c2ac;
}

/* Propiedades de los inputs del login */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#loginBtn {
    background-color: #4CAF50;
    color: white;
    padding: 7px 7px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
	font-size: 23px;
}

#registrarseBtn {
    background-color: #f44336;
    color: white;
    padding: 7px 7px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
	font-size: 23px;
}

button:hover {
    opacity: 0.8;
}

label {
	color: #97d1c1;
	font-size: 23px;
}

/*** Seccion TUS JUEGOS ***/

.tusJuegosContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 10px;
	flex-wrap: wrap;
}

.tusJuegosContainer>div {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  flex-basis: 75px  
}

/* Enlaces en la seccion tus juegos */
.miJuego>a:link {
	color: #97d1c1;
}

.miJuego>a:hover, .miJuego>a:active {
    color: #74c1ac;
}

/*** Seccion COMENTARIOS ***/
.comentario {
	background-color: white;
	border-radius: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 9px;
	margin-bottom: 7px;
}

/*** Seccion FICHA JUEGO ***/

h2.listaJuegos {
	margin-top:30px; 
	font-family: myFont2; 
	color: #286858;
	text-shadow:3px 2px 2px rgba(21,77,63,0.59);
	padding-bottom: 7px;
	border-bottom: 3px solid #286858;
}

.colImagen {
  position: relative;
  float: left;
  z-index: 3;
  width: 18.8%;
  height: 274px;
  margin: 19px 0 0 3%;
}

.text {
  position: relative;
  float: left;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

#anadirALista {
	margin-top: 10px;	
}

.dropdown-toggle {
	width: 100%;
}

.tituloDato {
  z-index: 0;
  width: 9.9166666666%;
  min-height: 100px;
  margin: 20px 0 0 3.2161458333%;
  font-weight: bold;
}

.dato {
  z-index: 1;
  width: 22.4666666666%;
  min-height: 100px;
  margin: 20px 0 0 2.1158854166%;
}

.resumen {
  z-index: 2;
  width: 50.8333333333%;
  min-height: 176px;
  margin: 10px 0 0 3.16927%;
}

.cuadroPuntuacion {
	background-color: #286858;
	color: #73c2ac;
	font-size: 50px;
	float: right;
	padding: 10px;
}

/*** Seccion REVIEWS ***/

.seccionReviews {
	position: relative;
	margin-top: 350px;
}

h3.seccionReviews {
	margin-top:30px; 
	font-family: myFont2; 
	color: #286858;
	text-shadow:3px 2px 2px rgba(21,77,63,0.59);
	padding-bottom: 7px;
	border-bottom: 3px solid #286858;
}

#reviewPtosEnviar {
	float: right;	
	width: 18%;
}

textarea {
	border-radius: 7px;
	resize: none;
}

/* Estrellas review */
.checked {
	color: orange;
}

/*** lista de reviews ***/

ul {
	padding-left: 0px;
}

li.review {
	margin-top: 15px;
	background: white;
	padding: 7px;
	border-radius: 10px;
}

.resto {	
	margin-left: 20px;
}


