@font-face {
    font-family: myFont;
    src: url(AGENCYB.TTF);
}
@font-face {
    font-family: myFont2;
    src: url(Space.otf);
}

body {
  min-height: 2000px;
  padding-top: 70px; 
  background-color: #a9d5cb;
}



#log{
	font-family: myFont2;
	font-size:120%;
	color:#73c2ac;
}
#buscador{
	margin-top: 6px;
	margin-right: 15%;
	margin-left: 20%;
	margin-bottom: 6px;
	font-family: myFont;
	font-size:200%;

}

#navbar{
	background-color: #0e2020;
}
#elementosNavBar{
	position: relative;
	margin-left: 20%;
	margin-right: 10%;
	font-family: myFont;
	font-size:150%;
	
}
#elem{
	color:#73c2ac;
}
#elemselect{
	background-color: #286858 !important;
	color:#73c2ac !important;
	text-shadow:3px 2px 2px #014a33;
}
.nav > li > a:active, .nav > li > a:focus {
	background-color: #286858 !important;
	color:#73c2ac !important;
}
#titulo{
	margin-left: 5%; 
	margin-right: 10%;
	margin-top: 1%;
	font-family: myFont2; 
	font-size: 210%;
	color: #286858;
	text-shadow:3px 2px 2px rgba(21,77,63,0.59);
	padding-bottom: 7px;
	border-bottom: 3px solid #286858;
}
#Rev{
	font-family: myFont;
	font-size:200%;
	color:#0e2020;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	background-color:  #286858;
	border-radius: 4px;
}
#fotoRev{
	width: 80%;
	margin: 4%;
	margin-top: 6%;
	border-radius: 4px;
}
#info{
	margin-top: 1%;
	margin-bottom: 1%;
	text-shadow:2px 1px 1px rgba(21,77,63,0.59);
	background-color: #c8f2e9;
	border-radius: 4px;
}
#text,#txtcompleto{
	font-size:70%;
	word-wrap: break-word;
	text-shadow: none;
}
