<!-- Version con mustache -->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>GuardarPunto</title>
<!-- Custom styles for this template -->
<link href="css/BusquedaCSS.css" rel="stylesheet">

<!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>

<!--Enlaces para la pantalla de registro-->
<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Script propio para botones y demas-->
<script src="../js/BusquedaJS.js"></script>

<style>
body {
	background-color: #a9d5cb;
}
</style>


</head>

<body>

	<!-- Fixed navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="elementosNavBar" class="nav navbar-nav">
            <li><a id="log" href="/">Guardar Punto</a></li>
            <li><a id="elem" href="/">Inicio</a></li>
            <li><a id="elem" href="/Juegos">Juegos</a></li>
            <li><a id="elem" href="/Perfil">Perfil</a></li>
            <li><a id="elem" href="/Reviews">Reviews</a></li>
            <li><a id="elem" href="/Amigos">Amigos</a></li>  
            <li>
              <input id="bus" class="form-control" type="text" placeholder="Buscar">
            </li>
            <li>
              <button id="bot" class="btn" type="submit">Buscar</button>
            </li>
            <li>
              <button id="off" type="button" class="btn" style="display: {{displayOff}}">
              <a href="/logOut"><span class="glyphicon glyphicon-off"></span></a> 
              </button>
            </li>
            </ul>
      </div>
    </nav>


	<div class="row row-offcanvas row-offcanvas-right">
		<div class="col-md-1"></div>
		<!-- margen izquierdo -->

		<div id="centro" class="col-md-7">
			<!-- posicion resto de elementos-->
			<h2 class="seccionBusqueda">Juegos</h2>
			<div class="juegosEncontrados">
				<div class="flex-container juegosEncontradosContainer">
                    {{#listaJuegosEncontrados}}
					<div class="juegoEncontrado" style="text-align: center;">
						<a href="/juego/{{id}}"> 
                            <img src="{{imagen}}" width="80px" height="113px"> 
                            <br /> 
							<a href="/juego/{{id}}">{{title}}</a>
						</a>
					</div>	
                    {{/listaJuegosEncontrados}}				
				</div>
			</div>

            <h2 class="seccionBusqueda">Usuarios</h2>
			<div class="usuariosEncontrados">
				<div class="flex-container usuariosEncontradosContainer">
                    {{#listaUsuariosEncontrados}}
					<div class="usuarioEncontrado" style="text-align: center;">
						<a href="/Usuario/{{id}}"> 
                            <img src="{{imagen}}" width="80px" height="113px"> 
                            <br /> 
							<a href="/Usuario/{{id}}">{{nombre}}</a>
						</a>
					</div>	
                    {{/listaUsuariosEncontrados}}				
				</div>
			</div>

		</div>

		<div id="der" class="col-md-3">
			<!-- Columna derecha con login, noticias... -->
			<div class="flex-container derecha">
				<div class="noticias" id="noticias">
					<h3 class="tituloSeccion">Noticias</h3>
					<div class="noticia">
						<h4>
							<a
								href="https://www.hobbyconsolas.com/noticias/gamegen-volvera-ser-punto-encuentro-industria-videojuego-tercer-ano-184296"
								target="_blank">GameGen 2018</a>
						</h4>
						<p style="font-size: 15px;">La asociación Virtual Soul celebra
							la tercera edición de la GameGen.</p>
					</div>
					<div class="noticia">
						<h4>
							<a href="enlace noticia" target="_blank">Título noticia</a>
						</h4>
						<p style="font-size: 15px;">Resumen noticia</p>
					</div>

				</div>
			</div>
		</div>
	</div>


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script>
		window.jQuery
				|| document
						.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
	</script>
	<script src="../../dist/js/bootstrap.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
